[submodule "plugins/b0t-untappd"]
	path = plugins/b0t-untappd
	url = https://github.com/z0mbieparade/b0t-untappd.git
[submodule "plugins/b0t-dictionary"]
	path = plugins/b0t-dictionary
	url = https://github.com/z0mbieparade/b0t-dictionary.git
[submodule "plugins/b0t-lastfm"]
	path = plugins/b0t-lastfm
	url = https://github.com/z0mbieparade/b0t-lastfm.git
[submodule "plugins/b0t-location"]
	path = plugins/b0t-location
	url = git@github.com:z0mbieparade/b0t-location.git
[submodule "plugins/b0t-trakt"]
	path = plugins/b0t-trakt
	url = https://github.com/z0mbieparade/b0t-trakt.git
[submodule "plugins/b0t-random"]
	path = plugins/b0t-random
	url = https://github.com/z0mbieparade/b0t-random.git
